best_model.h5
corona_tensorflow_best_model.h5
corona_model_01.pth
corona_pytorch_best_model.pth
glove.twitter.27B.100d.txt
glove.twitter.27B.200d.txt
Coronavirus_tweets_NLP_Text_Classification_02.ipynb
Coronavirus_tweets_NLP_Text_Classification_04.ipynb
# coronavirus_tweets_pytorch_01.ipynb
arquiteturas_testadas.txt
GoogleNews-vectors-negative300.bin.gz
arquiteturas_testadas_fasttext_v2.txt
arquiteturas_testadas_fasttext.txt
arquiteturas_testadas_word2vec.txt
Coronavirus_Tweets_Classification_TensorFlow_FastText.ipynb
Coronavirus_Tweets_Classification_TensorFlow_Word2Vec.ipynb
crawl-300d-2M.vec
crawl-300d-2M.vec.zip
wiki-news-300d-1M.vec
wiki-news-300d-1M.vec.zip
